trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    cd Backend
    npm install
  displayName: 'Install backend dependencies'

- script: |
    cd Backend
    zip -r backend.zip .
  displayName: 'Zip backend'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'Backend/backend.zip'
    ArtifactName: 'drop'
  displayName: 'Publish artifact'